body {
  background: #2C2B3D;
  color: #FFF;
 }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1083px;
  margin: 71px auto;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
 }

ul {
  display: flex;
  gap: 64px;
  list-style: none;
  font-size: 14px;
  line-height: 28px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 101px auto 157px;
  font-family: 'JetBrains Mono', monospace;
  width: 1092px;
}

section p {
  margin-top: 59px;
  color: #C2C2C2;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 604px;
  font-size: 16px;
  line-height: 28px;
}

section h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

footer {
  margin-bottom: 23px;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px;
}

#line {
  width: 568px;
  height: 0px;
  border: 1px #00BFA6 solid;
  margin: auto;
}

#cadeado {
  position: fixed;
  bottom: 0px;
  left: 0px;
  
} 
  